body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

h1 {
  font-family: "Helvetica Neue";
  color: #ebd8d8;
  font-weight: 100;
  font-size: 5em;
  margin-bottom: 0;
}

.main-input {
  width: 20%;
  /* border: 2px solid blue; */
  margin: 0.1em;
}

.main-input input {
  padding: 1em 2em;
  width: 100%;
  border: none;
  outline-width: 0;

  background: #fff;
}

.todos {
  background-color: #fff;
  width: 20%;
  margin: 0.1em;
  margin-left: 3.4em;
  padding: 0 1.7em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  margin-top: 0.01em;
  /* border: 2px solid green; */
}

.todo {
  display: flex;
  /* border: 2px solid purple; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
}

.todo-text {
  font-weight: 200;
  margin-left: 1em;
  color: #686868;
}

.x-div {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 20%;
  padding: 0 1.7em;
  margin-left: 3.4em;
}

/* .footer p {
  font-weight: 200;
  margin-left: 1em;
  color: #686868;
} */
