body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.login-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container input {
  margin: 1em;
}

.login-text, .login-text:visited {
  text-decoration: none;
  color: blue;
 
 }

.signup-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.signup-container input {
  margin: .5em;
}

.signup-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-text, .signup-text:visited {
 text-decoration: none;
 color: blue;

}

h1 {
  font-family: "Helvetica Neue";
  color: #ebd8d8;
  font-weight: 100;
  font-size: 5em;
  margin-bottom: 0.5em;
}

.main-input {
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  /* margin: 0.1em; */
  border-bottom: 1px solid #cacaca;

  box-shadow: 0 2px 2px -3px gray;
}

.complete-All {
  padding-left: 0.5em;
}

.main-input input {
  /* padding: 1em 2em; */
  width: 90%;
  border: none;
  outline-width: 0;
  padding: 1em 0;
  margin-left: 1em;

  background: #fff;
  font-size: 1em;
  font-family: "Helvetica Neue";

  font-weight: 200;
  /* border: 2px solid blue; */
}

input::placeholder {
  margin: 10px;
  overflow-wrap: break-word;
  color: #cacaca81;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #fff;
  width: 40%;

  margin-top: 0.01em;
  /* border: 2px solid green; */
  /* -webkit-box-shadow: 4px 4px 9px -1px #4a4a4a; */
  box-shadow: 2px 2px 5px -1px #4a4a4a;

  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px rgb(245, 245, 245),
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px rgb(245, 245, 245),
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  /* Padding for demo purposes */
}

.todo {
  display: flex;
  /* border: 2px solid purple; */
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #cacaca79;
  padding-left: 0.4em;
}

.todo-text {
  font-weight: 200;
  margin-left: 1em;
  color: #4d4d4da8;
}

.edit-input {
  width: 90%;
  outline-width: 0;
  padding: .5em 0;
  padding-left: .5em;
  margin: .5em 1em;
  border: none;
  background: #fff;
  font-size: 1em;
  font-family: "Helvetica Neue";

  font-weight: 200;

  box-shadow: 0px 0px 3px 2px #4d4d4d52 inset; 
}

.x-div {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
}

.x-div p {
  color: #ebd8d8;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  /* padding: 0 1.7em; */
  /* margin-left: 3.4em; */
  /* border: 1px solid red; */
}

/* .footer p {
  font-weight: 200;
  margin-left: 1em;
  color: #686868;
} */

.footer p {
  font-size: 0.7em;
  color: #4d4d4da8;
}

.clear-completed {
  padding-right: 1em;
  cursor: pointer;
}
.clear-completed p:hover {
  text-decoration: underline;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-left {
  padding-left: 1em;
}
